{% extends "base_minimal.html" %}

{% block main_content %}
<div class="container">
  <form action="." method="POST" class="form-signin" role="form">{% module xsrf_form_html() %}
    <h2 class="form-signin-heading">
      Please sign in
    </h2>
    {% module FormModule(field=form.username) %}
    {% module FormModule(field=form.email) %}
    {% module FormModule(field=form.password) %}
    {% module FormModule(field=form.password_confirm) %}
    <button class="btn btn-lg btn-primary btn-block" type="submit">
      Create Account!
    </button>
  </form>
</div>

{% end %}

